body {
  background: #fff;
  position: relative;
  z-index: -1;
  }

.site--container{
  width: 65%;
  margin: 0 auto;
}
.header{
  .todo--logo{
    width: 15%;
    height: fit-content;
    position: absolute;
    left: 2rem;
    top: -2rem;
    img{
      width: 100%;
    }
  }
  .search--box{
    width: 100%;
    margin: 3rem auto;
    border-radius: 20px;
    padding: .375rem .75rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #c8c4c4;
    svg{
      margin-right: 4px;
      width: 16px;
      height: 16px;
      color: gray;
    }
    .search--input{
      width: 100%;
      border: none;
      outline: none;
    }
  }
  .search--box:focus-within{
    box-shadow: darkgray 2px 2px 10px;
  }
}
.main{
  display: flex;
  justify-content: space-between;
  position: relative;
  .todo--box{
      margin-bottom: 2rem;
      width: 50%;
      box-shadow: darkgray 2px 2px 10px;
      padding: 2rem;
      border-radius: 10px;
      height: 510px;
      background: #dce1fd;
      overflow-y: scroll;
      scrollbar-width: none;
      form{
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        .todo--label{
          color: black;
          margin: 0;
          font-size: 22px;
        }
        .todo--input,
        .todo--input:focus{
          margin: 0 !important;
          width: 100%;
          padding: 5px 10px;
          outline: none;
          color: black;
          background: white;
          border: none;
          border-radius: 20px;
        }
        .todo--input:focus{
          box-shadow: 0 0 5px rgba(122, 177, 214, 0.5) !important;
        }
      }
    .close--icon{
      cursor: pointer;
      font-size: 20px;
    }
      .task--list li, .search--list li{
        background: #fff ;
        border-radius: 20px !important;
        margin-bottom: 5px;
        color: black ;
        .delete, .edit ,.close{
          cursor: pointer;
        }
        .edit--box{
          display: flex;
          gap: 10px;
        }
        .checkbox--style{
          border: 1px solid #d4d2d2;
          appearance: none;
          aspect-ratio: 1;
          box-sizing: border-box;
          font-size: 1em;
          width: 20px;
          background-color: white;
          height: 20px;
          border-radius: 50%;
          cursor: pointer;
        }
        .checkbox--style:checked {
          background: inherit;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .checkbox--style:checked::after{
          content: '\2713';
          font-size: 26px;
          color: grey;
        }
        span{
          overflow-wrap: anywhere;
          text-wrap: wrap !important;
          max-width: 80%;
        }
      }
    li:has(.checkbox--style:checked){
      background: #dce1fd;
      filter: brightness(1.03);
      color: grey;
    }
      .search--list{
        display: none;
      }
    }
  .filter{
    width: 42%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    .filter__buttons{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      button{
        cursor: pointer;
        width: 30%;
        background-color: #dce1fd;
        color: black;
        text-align: center;
        padding: 0.5rem 1rem;
        border-radius: 20px;
        outline: none;
        border: none;
        box-shadow: gray 2px 2px 10px;
      }
      button:first-child{
        filter: brightness(.9);
      }
      button:focus {
        outline: none;
      }
    }
    .filter__logo{
      width: 80%;
      img{
        width: 100%;
      }
    }
  }
}

.filtered{
    display: none !important;
}
.edit--modal{
  background: #dce1fd;
  height: 100px;
  width: 300px;
  position: absolute;
  left: 0;
  right: 0;
  top: 25vh;
  z-index: 20;
  border-radius: 14px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  .close--modal{
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    font-size: 16px;
    color: black;
  }
  .modal--input{
    background: inherit;
    width: 80%;
    outline: none;
    border: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #d8d2d2;
    padding: 5px;
  }
}


